.Layout {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: linear-gradient(#FF0000,#FFFFFF);

    span {
         margin-left: 10px;
      a {
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        color: #395aa8;
        font-weight: bold;
        background-color: white;
      }
      button:hover {
        color: white;
      }
      img:hover {
        opacity: 0.5;
      }
    }
  }

  main {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
  }
}
