// This is where global site styles go.
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 4px;
}

input,
textarea {
  padding: 4px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 20px;
}

button {
  background: linear-gradient(#ffcc01,#ffcc01);
  border: 4px solid #395aa8;
  border-radius: 50px;
  padding: 8px;
  color: #395aa8;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  font-size: 1.1rem;
  color: white;
}


